body { background: #f0f0f0;}
.active { background: #f27e13;}
a { -webkit-tap-highlight-color: transparent; /* 去掉点击时候的阴影 */}
a,a:hover,a:link,a:active,a:visited{ text-decoration:none; color: #000;}

#header { height: 50px; background: #f27e13; position: fixed; top: 0; left: 0; z-index: 20;}
#header span { display: inline-block; position: relative; width: 320px; height: 50px; line-height: 50px; float: left; text-align: center; color: #fff; font-size: 16px;}
#header a {background: url("../img/back.png") no-repeat; display: inline-block; position: relative; left: 0; top: 8px; width: 40px; height: 40px; float: left;}

#process { height: 80px; width: 360px; background: #fff; margin-top: 50px;}
#process ul li { float: left; position: relative; width: 90px; text-align: center; height: 80px; line-height: 120px;}
#process ul li span { position: absolute; top: 10px; left: 25px; width: 30px; display: inline-block; height: 30px; line-height: 30px; border: 1px solid #ccc; border-radius: 50%; }
#process ul li:nth-of-type(1) span { position: absolute; top: 10px; left: 25px; width: 30px; display: inline-block; height: 30px; line-height: 30px; border: 1px solid #ccc; border-radius: 50%; color: #fff; background: #f27e13;}

/*#content { margin-top: 50px;}*/
#content h2 { position: relative;font-size: 16px; font-weight: bold; box-sizing: border-box; padding-left: 50px; height: 40px; line-height: 40px;}
#content h2:before { content: url("../img/goods1.png"); position: absolute; top: 5px; left: 10px; width: 32px; height: 32px;}
#content .goods { height: 150px; background: #fff; box-sizing: border-box; padding-right: 5px;}
#content .goods img { float: left; width: 150px; height: 150px;}
#content .goods .describe { float: left; width: 190px; margin-left: 10px;}
#content .goods .describe h3 { overflow: hidden; text-overflow:ellipsis; white-space: nowrap; font-size: 16px; margin-bottom: 10px;}
#content .goods .describe p { height: 110px; overflow: hidden;}

#personal { margin-bottom: 60px;}
#personal h2 { position: relative;font-size: 16px; font-weight: bold; box-sizing: border-box; padding-left: 50px; height: 40px; line-height: 40px;}
#personal h2:before { content: url("../img/goods1.png"); position: absolute; top: 5px; left: 10px; width: 32px; height: 32px;}

#personal .list li { box-sizing: border-box; padding-left: 15px; background: #fff; margin-bottom: 10px; height: 120px; padding-top: 10px;}
#personal .list li span { float: left; position: relative; top: 40px; display: inline-block; width: 20px; height: 20px; border: 1px solid #f27e13; margin: 0 10px 45px 0;}
#personal .list li div { display: inline-block; float: left; width: 300px;}
#personal .list li img { float: left; width: 100px; height: 100px; margin-right: 10px;}
#personal .list li p { float: left; width: 190px; padding-top: 5px; font-size: 14px;}

#bottom { position: fixed; left: 0; bottom: 0; height: 50px; width: 360px; z-index: 20; background: #fff;}
#bottom .select { width: 200px; float: left; height: 50px; line-height: 50px; text-align: center;}
#bottom .select span:nth-of-type(1) { display: inline-block; width: 20px; height: 20px; border: 1px solid #f27e13; position: relative; top: 5px;}
#bottom .select span:nth-of-type(2) { font-size: 16px;}
#bottom .sure { width: 160px; float: left; height: 50px; line-height: 50px; text-align: center; background: #f12305; color: #fff; font-size: 16px;}
#bottom .sure a { color: #fff;}