body { background: #f0f0f0;}
a { -webkit-tap-highlight-color: transparent; /* 去掉点击时候的阴影 */}
a,a:hover,a:link,a:active,a:visited{ text-decoration:none; color: #000;}

#header { position: fixed; left: 0; top: 0; height: 50px; background: #f27e13; width: 360px; text-align: center; z-index: 20;}
#header a { position: relative; top: 10px; display: inline-block; float: left; width: 32px; height: 32px; background: url("../img/back.png");}
#header h1 { float: left; height: 50px; width: 300px; line-height: 50px; font-size: 16px; font-weight: bold; color: #fff;}

#process { height: 80px; width: 360px; background: #fff; margin-top: 50px;}
#process ul li { float: left; position: relative; width: 90px; text-align: center; height: 80px; line-height: 120px;}
#process ul li span { position: absolute; top: 10px; left: 25px; width: 30px; display: inline-block; height: 30px; line-height: 30px; border: 1px solid #ccc; border-radius: 50%; }
#process ul li:nth-of-type(2) span { position: absolute; top: 10px; left: 25px; width: 30px; display: inline-block; height: 30px; line-height: 30px; border: 1px solid #ccc; border-radius: 50%; color: #fff; background: #f27e13;}

#content { width: 360px;}
#content .my-goods h2 { position: relative; width: 360px; height: 40px; box-sizing: border-box; padding: 10px 0 0 40px; font-size: 16px; font-weight: bold;}
#content .my-goods h2:before { position: absolute; top: 5px; left: 0; content: url("../img/goods1.png");}
#content .my-goods div { height: 120px; background: #fff; box-sizing: border-box; padding: 10px 10px;}
#content .my-goods div img { float: left; width: 100px; height: 100px; margin-right: 10px;}
#content .my-goods div p { font-size: 14px;}

#content .other-goods h2 { position: relative; width: 360px; height: 40px; box-sizing: border-box; padding: 10px 0 0 40px; font-size: 16px; font-weight: bold;}
#content .other-goods h2:before { position: absolute; top: 5px; left: 0; content: url("../img/goods1.png");}
#content .other-goods .user-info { height: 70px; background: #fff; margin-top: 10px; box-sizing: border-box; padding: 10px;}
#content .other-goods .user-info img{ width: 50px; height: 50px; border-radius: 50%; float: left; margin-right: 10px;}
#content .other-goods .user-info .info-des { float: left; width: 150px; border-right: 1px solid #ccc; margin-right: 10px;}
#content .other-goods .user-info .info-des span { display: block; height: 25px; line-height: 25px;}
#content .other-goods .user-info a { display: inline-block; position: relative; float: left; height: 50px; line-height: 50px; box-sizing: border-box; padding-left: 50px;}
#content .other-goods .user-info a:before { position: absolute; top: 10px; left: 10px; content: url("../img/call.png"); display: inline-block; width: 32px; height: 32px;}

#content .other-goods .goods-info { margin-top: 10px;}
#content .other-goods .goods-info .leader li { position: relative;}
#content .other-goods .goods-info .leader li a { position: absolute; right: 15px; bottom: 10px;}
#content .other-goods .goods-info .leader li a span { background: url("../img/bottom.png"); display: inline-block; position: absolute; top: 0; left: -18px; height: 16px; width: 16px;}

#content .other-goods .goods-info ul li { height: 100px; background: #fff; margin-bottom: 10px; box-sizing: border-box; padding: 10px;}
#content .other-goods .goods-info ul li img { width: 80px; height: 80px; float: left; margin-right: 10px;}
#content .other-goods .goods-info ul li p { float: left; width: 250px; font-size: 14px;}

#receive { height: 50px; background: #fff; margin-top: 10px;}
#receive p { height: 25px; line-height: 25px; box-sizing: border-box; padding-left: 10px; font-size: 14px;}

#tips { margin: 10px 0 60px 10px;}

#bottom { position: fixed; bottom: 0; left: 0; height: 50px; background: #fff; width: 360px;}
#bottom a { display: inline-block; height: 50px; width: 180px; line-height: 50px; text-align: center; font-size: 14px; font-weight: bold;}
#bottom a:nth-of-type(2) { background: #f27e13; color: #fff;}