<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>评价页</title>
    <link rel="stylesheet" href="../src/css/reset.css">
    <link rel="stylesheet" href="../src/css/assessment.css">
</head>
<body>
    <div id="header">
        <a href="../index.html"></a>
        <h1>订单信息</h1>
    </div>
    <div id="process">
        <ul>
            <li><span>1</span>确认订单</li>
            <li><span>2</span>待发货</li>
            <li><span>3</span>确认收货</li>
            <li><span>4</span>待评价</li>
        </ul>
    </div>
    <div id="content">
        <input class="assess" placeholder="聊聊这次交易您的感受">
        <p>赏个好评吧！</p>
        <button class="btn1">赏个好评</button><button class="btn2">不赏</button>
    </div>
    <div class="tips">双方评价后，对方才能看到以上内容。</div>
    <div id="bottom">
        <a href="complete.html">发表评论</a>
    </div>
</body>
<script src="../lib/js/zepto.min.js"></script>
<script src="../src/js/public.js"></script>
<script src="../src/js/assessment.js"></script>
</html>