<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>物品详情页</title>
    <link rel="stylesheet" href="../src/css/reset.css">
    <link rel="stylesheet" href="../src/css/details.css">
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="../index.html"><i></i></a></li>
            <li>物品详情</li>
            <li><a href="#"><i></i></a></li>    
        </ul>
    </div>
    <div id="mask" style="display: none;"></div>
    <div id="share" style="display: none;">
        <p>分享到</p>
        <ul>
            <li>微信</li>
            <li>微信朋友圈</li>
            <li>QQ</li>
            <li>微博</li>
        </ul>
        <button>取消</button>
    </div>
    <div id="header">
        <h1><span>9新</span>学姐毕业处理被子</h1>
        <div class="h-user">
            <img src="../src/img/via1.jpg" alt="用户头像">
            <div>
                <p>你们的女神学姐<span>浏览304次</span></p>
                <span class="h-location">发布于珠海香洲区</span>|<span class="h-dis">距你1000米</span>
            </div>
        </div>
    </div>
    <div id="content">
        <h2>他想换：物品随意</h2>
        <p>物品描述：学姐今年大四毕业，有一件八成新的被子需要处理，只用过半年，纯棉纯手工制作，晚上睡觉盖着非常舒服，想要的立即与我联系。</p>
        <img src="../src/img/img2.jpg" alt="物品展示">
    </div>
    <div class="tips">
        <span>好物等你换</span>
    </div>
    <div id="recommend-goods">
        <ul>
            <li>
                <a href="#">
                    <img src="../src/img/iphone.jpg" alt="图片加载失败">
                    <span><i>9新</i>iphone6s 土豪金，七成新，用的比较爱惜，屏幕完好</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../src/img/dumbbell.jpg" alt="图片加载失败">
                    <span><i>8新</i>家用哑铃，家用锻炼利器，20KG，九成新</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../src/img/hasee.jpg" alt="图片加载失败">
                    <span><i>7新</i>神舟战神，机器运行良好，用的很爱惜，市面上所有游戏运行棒棒哒！</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../src/img/kindle.jpg" alt="图片加载失败">
                    <span><i>9新</i>kindle，九成新，里面已经有2000本付费电子书，涉及方方面面的内容</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="bottom">
        <ul>
            <li><i></i><span>收藏</span></li>
            <!--<li><i></i><span>消息</span></li>-->
            <li><a href="message.html">马上换</a></li>
        </ul>
    </div>
</body>
<script src="../lib/js/zepto.min.js"></script>
<script src="../src/js/public.js"></script>
<script src="../src/js/details.js"></script>
</html>