<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>确认交换</title>
    <link rel="stylesheet" href="../src/css/reset.css">
    <link rel="stylesheet" href="../src/css/exchange.css">
</head>
<body>
    <div id="process">
        <ul>
            <li><span>1</span>确认订单</li>
            <li><span>2</span>待发货</li>
            <li><span>3</span>确认收货</li>
            <li><span>4</span>待评价</li>
        </ul>
    </div>
    <div id="header">
        <a href="message.html"></a>
        <span>订单信息</span>
    </div>
    <div id="content">
        <h2>我要换的：</h2>
        <div class="goods">
            <img src="../src/img/img2.jpg" alt="物品图片">
            <div class="describe">
                <h3>学姐毕业处理被子。</h3>
                <p>物品描述：学姐今年大四毕业，有一件八成新的被子需要处理，只用过半年，纯棉纯手工制作，晚上睡觉盖着非常舒服，想要的立即与我联系。</p>
            </div>
        </div>
    </div>
    <div id="personal">
        <h2>我的物品：</h2>
            <ul class="list">
            <li>
                <span></span>
                <div>
                    <img src="../src/img/img3.jpg" alt="物品图片">
                    <p>每一个不甘的离开，都是为了最后的归来</p>
                </div>
            </li>
            <li>
                <span></span>
                <div>
                    <img src="../src/img/img3.jpg" alt="物品图片">
                    <p>如果喜欢，就把一切当作是荣耀，而不是炫耀</p>
                </div>
            </li>
            <li>
                <span></span>
                <div>
                    <img src="../src/img/img3.jpg" alt="物品图片">
                    <p>差距并不可怕，可怕的是因为差距而放弃</p>
                </div>
            </li>
            <li>
                <span></span>
                <div>
                    <img src="../src/img/img3.jpg" alt="物品图片">
                    <p>如果人生很长，别无所求，只愿有你的荣耀没有散场</p>
                </div>
            </li>
            <li>
                <span></span>
                <div>
                    <img src="../src/img/img3.jpg" alt="物品图片">
                    <p>记录这种东西就是为了被打破而存在的，巅峰永远是存在于未来而不是过去</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="bottom">
        <div class="select">
            <span class="checkbox"></span>
            <span>全选</span>
        </div>
        <div class="sure"><a href="swap.html">确认</a></div>
    </div>
</body>
<script src="../lib/js/zepto.min.js"></script>
<script src="../src/js/public.js"></script>
<script src="../src/js/exchange.js"></script>
</html>