<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>个人店铺</title>
    <link rel="stylesheet" href="../src/css/reset.css">
    <link rel="stylesheet" href="../src/css/self.css">
</head>
<body>
    <div id="header">
        <img src="../src/img/via1.jpg" alt="用户头像">
        <p>墨裳花开</p>
        <span>广东 珠海</span>
        <div class="credit">我的宝贝</div>
    </div>
    <div id="content">
        <ul>
            <li>
                <div class="show-goods">
                    <img src="../src/img/img10.jpg" alt="物品图片"><img src="../src/img/img11.jpg" alt="物品图片"><img src="../src/img/img12.jpg" alt="物品图片">
                </div>
                <p>外星人电脑，机器运行良好，用的很爱惜</p>
                <p>物品描述：因为买了新手机，旧手机闲置，iphoneSE，九成新，无损坏，操作流畅，系统是IOS10.3，想换一个kindle，需要的随时与我联系。因为买了新手机，旧手机闲置，iphoneSE，九成新，无损坏，操作流畅，系统是IOS10.3，想换一个kindle，需要的随时与我联系。</p>
                <div class="btn">
                    <button>下架</button>
                    <button>编辑</button>
                </div>
            </li>
            <li>
                <div class="show-goods">
                    <img src="../src/img/img2.jpg" alt="物品图片"><img src="../src/img/img2.jpg" alt="物品图片"><img src="../src/img/img2.jpg" alt="物品图片">
                </div>
                <p>外星人电脑，机器运行良好，用的很爱惜</p>
                <p>物品描述：因为买了新手机，旧手机闲置，iphoneSE，九成新，无损坏，操作流畅，系统是IOS10.3，想换一个kindle，需要的随时与我联系。因为买了新手机，旧手机闲置，iphoneSE，九成新，无损坏，操作流畅，系统是IOS10.3，想换一个kindle，需要的随时与我联系。</p>
                <div class="btn">
                    <button>下架</button>
                    <button>编辑</button>
                </div>
            </li>
        </ul>
    </div>
</body>
<script src="../lib/js/zepto.min.js"></script>
<script src="../src/js/public.js"></script>
<script src="../src/js/self.js"></script>
</html>