<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>发货页</title>
    <link rel="stylesheet" href="../src/css/reset.css">
    <link rel="stylesheet" href="../src/css/shipping.css">
</head>
<body>
    <div id="header">
        <a href="../index.html"></a>
        <h1>订单信息</h1>
    </div>
    <div id="process">
        <ul>
            <li><span>1</span>确认订单</li>
            <li><span>2</span>待发货</li>
            <li><span>3</span>确认收货</li>
            <li><span>4</span>待评价</li>
        </ul>
    </div>
    <div id="content">
        <div class="my-goods">
            <h2>我的物品</h2>
            <div>
                <img src="../src/img/img2.jpg" alt="物品图片">
                <p>学姐今年大四毕业，有一件八成新的被子需要处理，只用过半年，纯棉纯手工制作，晚上睡觉盖着非常舒服，想要的立即与我联系。</p>
            </div>
        </div>
        <div class="other-goods">
            <h2>交换物品</h2>
            <div class="user-info">
                <div>
                    <img src="../src/img/via5.jpg" alt="用户头像">
                    <div class="info-des">
                        <span>百里登风</span>
                        <span>珠海香洲区|2333米</span>
                    </div>
                </div>
                <a href="#">联系对方</a>
            </div>
            <div class="goods-info">
                <ul class="leader">
                    <li>
                        <img src="../src/img/img3.jpg" alt="物品图片">
                        <p>每一个不甘的离开，都是为了最后的归来</p>
                        <a href="#" index="0"><span></span>更多</a>
                    </li>
                </ul>
                <ul class="goods-list" style="display: none;">
                    <li>
                        <img src="../src/img/img3.jpg" alt="物品图片">
                        <p>每一个不甘的离开，都是为了最后的归来</p>
                    </li>
                    <li>
                        <img src="../src/img/img3.jpg" alt="物品图片">
                        <p>如果喜欢，就把一切当作是荣耀，而不是炫耀</p>
                    </li>
                    <li>
                        <img src="../src/img/img3.jpg" alt="物品图片">
                        <p>差距并不可怕，可怕的是因为差距而放弃</p>
                    </li>
                    <li>
                        <img src="../src/img/img3.jpg" alt="物品图片">
                        <p>如果人生很长，别无所求，只愿有你的荣耀没有散场</p>
                    </li>
                    <li>
                        <img src="../src/img/img3.jpg" alt="物品图片">
                        <p>记录这种东西就是为了被打破而存在的，巅峰永远是存在于未来而不是过去</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="receive">
        <p>收货人：叶秋 15701000099</p>
        <p>收获地址：广东省珠海市香洲区金山软件大厦</p>
    </div>
    <div id="tips">
        <p>交易提醒：</p>
        <p></p>
        <p>1、本平台建议用户当面交易。</p>
        <p>2、请确保与对方核实商品细节</p>
    </div>
    <div id="bottom">
        <a href="#">电话叫快递</a><a href="wait.html">当面交易</a>
    </div>
</body>
<script src="../lib/js/zepto.min.js"></script>
<script src="../src/js/public.js"></script>
<script src="../src/js/shipping.js"></script>
</html>